 body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.container {
    width: 350px;
    margin: 80px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px gray;
    text-align: center;
}

input {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
}

button {
    width: 95%;
    padding: 10px;
    background: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

.result {
    margin-top: 20px;
    font-weight: bold;
}
